.headerpt1-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bazaar);
    padding-bottom: 40px;
}

.headerpt1-section > h1 {
    font-size: 55px;
}

.headerpt1-section > img {
    max-width: 85px;
}