.start-buying-button {
    border: none;
    display: flex;
    font-size: 35px;
    align-items: center;
    color: #FFFFFF;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    background-size: 200% 200%;
    animation: movement 3s ease-in-out infinite;
}

@keyframes movement {
    0% {
        background-position: 0% 50%;
    } 
    50% {
        background-position: 100% 50%;
    } 
    100% {
        background-position: 0% 50%;
    }
}

.start-buying-button:hover {
    cursor: pointer;
}

.start-buying-button > img {
    width: 25px;
}
