.container-principal-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bazaar);
}

.navBar-admin {
    display: flex;
    width: 100%;
}

.elementos-admin {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}

.logo-admin {
    display: flex;
    justify-items: flex-start;
    align-items: center;
}
.logo-admin > img {
    width: 30px;
    padding: 5px;
    margin-left: 10px;
}
.logo-admin > h1 {
    font-size: 18px;
}

.menu-hamburger-admin {
    margin-right:10px;
    cursor: pointer;
}
