.headerpt3-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -30px;
}

.headerpt3-container {
    max-width: 1140px;
    width: 100%;
    min-height: 80px;
    background-color: var(--catawba);
    display: flex;
    justify-content: center;
    padding: 15px;
}

.headerpt3-menu {
    width: 100%;
}

.headerpt3-menu > img {
    background-color: var(--philipines-silver);
    padding: 6px;
    border-radius: 4px;
    margin: 0 calc((100vw - 48px) / 2) 10px;
}

.headerpt3-menu-lista {
    list-style: none;
    width: 100%;
}

.lista-menu {
    text-decoration: none;
    color: var(--dark-sienna);
}

.lista-menu > li {
    text-align: start;
    width: 100%;
    background-color: var(--philipines-silver);
    font-size: 35px;
    padding: 8px 15px;
}

.lista-menu > li:hover {
    background-color: #933f49;
    color: var(--philipines-silver);
}





@media screen and (min-width: 768px) {
    .tela-normal-menu {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .tela-normal-link {
        text-decoration: none;
        color: var(--philipines-silver);
        font-size: 35px;
    }

    .tela-normal-link > li:hover,
    .tela-normal-clicado {
        border-bottom: 1px solid var(--dark-sienna);
        color: var(--dark-sienna);
    }
}