.gifts-folder-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.gifts-folder-container {
    max-width: 1140px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gifts-folder-container > div:first-of-type {
    width: 100%;
    height: 430px;
    background: linear-gradient(45deg, var(--philipines-silver), var(--bazaar));
    border-radius: 80px;
    max-width: 430px;
    margin: 0 auto;
}

.gifts-folder-container > div:first-of-type > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gifts-folder-container > div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gifts-folder-container > div:last-of-type > h2 {
    font-size: 80px;
    background: linear-gradient(45deg, var(--bazaar), var(--dark-sienna));
    color: transparent;
    background-clip: text;
    text-align: center;
}

.gifts-folder-container > div:last-of-type > h3 {
    font-size: 50px;
    background: linear-gradient(45deg, var(--dark-sienna), var(--bazaar));
    color: transparent;
    background-clip: text;
    margin-bottom: 25px;
}

.gifts-folder-container > div:last-of-type > img {
    width: 50px;
}




@media screen and (min-width: 768px) {
    .gifts-folder-container {
        flex-direction: row;
    }
    
    .gifts-folder-container > div:last-of-type {
        width: 55%;
    }

    .gifts-folder-container > div:first-of-type {
        width: 45%;
        border-radius: 150px;
    }
}